@page
@model AutoParkManager.Pages.Vehicles.IndexModel
@{
}

<br />
<h2>Manager Vehicule</h2>
<a class="btn btn-secondary btn-sm" href="/Vehicles/Create">Adauga</a>

<table class="table table-dark">
    <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Model</th>
            <th>Combustibil</th>
            <th>An Fabricatie</th>
            <th>Capacitate Cilindrica</th>
            <th>Culoare</th>
            <th>Serie Sasiu</th>
            <th>Adaugat la data de</th>
            <th>Management</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var veh in Model.carslist)
        {
            <tr>
                <td>@veh.id</td>
                <td>@veh.marca</td>
                <td>@veh.modelv</td>
                <td>@veh.combustibil</td>
                <td>@veh.an</td>
                <td>@veh.capacitate</td>
                <td>@veh.culoare</td>
                <td>@veh.VIN</td>
                <td>@veh.added_at</td>
                <td>
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Optiuni</a>
                    <ul class="dropdown-menu">
                        <li><a class="btn btn-primary btn-sm dropdown-item" href="/Vehicles/Edit?id=@veh.id">Editare</a></li>
                        <li><a class="btn btn-danger btn-sm dropdown-item" href="/Vehicles/Delete?id=@veh.id">Stergere</a></li>
                        <li> <a class="btn btn-warning btn-sm dropdown-item" href="/Vehicles/Sold?id=@veh.id">Marcheaza drept vandut</a></li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>