@page
@model AutoParkManager.Pages.Vehicles.SoldListModel
@{
}

<br />
<h2>Vehicule Vandute</h2>

<table class="table table-dark">
    <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Model</th>
            <th>Combustibil</th>
            <th>An Fabricatie</th>
            <th>Capacitate Cilindrica</th>
            <th>Culoare</th>
            <th>Serie Sasiu</th>
            <th>Optiuni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var veh in Model.carslist)
        {
            <tr>
                <td>@veh.id</td>
                <td>@veh.marca</td>
                <td>@veh.modelv</td>
                <td>@veh.combustibil</td>
                <td>@veh.an</td>
                <td>@veh.capacitate</td>
                <td>@veh.culoare</td>
                <td>@veh.VIN</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/Vehicles/Refunded?id=@veh.id">Ramburs</a>
                </td>
            </tr>
        }
    </tbody>
</table>